.layout {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  //padding: 100px 50px 0;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  justify-content: flex-start;

  .bg-logo {
    position: fixed;
    top: 30px;
    font-weight: 800;
    font-size: 178px;
    opacity: 0.02;
  }

  @media all and (max-width: 1023px) {
    padding: 50px 0;
    height: auto;
  }
}
